@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap');

:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}

img {
  width: 100%;
}
a {
  color: #000;
}
.mw {
  max-width: 1440px;
  width: calc(100% - 3rem);
  margin: auto;
}

/* Header 영역 */
.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.logo {
  width: 150px;
}
.gnb {
  flex-grow: 1;
  text-align: right;
  border-right: 1px solid #000;
}
.gnb a {
  padding-right: 1rem;
}
.individual > * {
  padding: 0.5rem;
}
.individual a:nth-of-type(1) {
  margin-left: 0.5rem;
}

/* Main 영역 */
/* MainEvent */
.main_sec1 {
  border-radius: 6px;
  width: 100%;
  padding-top: 40%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main_sec1.bg1 {
  background-image: url(/public/img/Img_bg1.jpg);
}
.main_sec1.bg2 {
  background-image: url(/public/img/Img_bg2.jpg);
  background-position: center;
}
.main_sec1.bg3 {
  background-image: url(/public/img/Img_bg3.jpg);
}
.sec1_wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
  color: #fff;
}
.sec1_wrap p:nth-of-type(1) {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.sec1_wrap p:nth-of-type(2) {
  font-size: 1.2rem;
}
.sec1_wrap button {
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  background: transparent;
  border-radius: 6px;
  padding: 0.3rem 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
}
.MainEvent .swiper-pagination-bullet {
  background-color: transparent;
  background-color: #000;
}
.MainEvent .swiper-pagination-bullet-active {
  transform: scale(1.5);
  background-color: transparent;
  border: 1px solid #fff;
}

/* MainTopList */
.MainTopList_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 1rem;
}
.MainTopList_title p {
  font-size: 2rem;
  font-weight: 500;
}
.MainTopList_title a {
  padding: 0.3rem 1.2rem;
  border: 1px solid #a18a68;
  border-radius: 6px;
  color: #a18a68;
}

/* ProductCard 영역 */
.list_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.list {
  width: calc(100% / 3 - 0.5rem);
  margin-bottom: 1rem;
  margin-right: 0.75rem;
  cursor: pointer;
  position: relative;
}
.list:nth-of-type(3n) {
  margin-right: 0;
}
.list:hover .img_con a {
  bottom: 0;
  opacity: 1;
}
.img_con {
  padding-top: 100%;
  position: relative;
}
.img_con .discount,
.img_con .category {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 46px;
  z-index: 1;
  padding: 0.3rem 0.8rem;
  background-color: #a18a68;
  color: #fff;
  border-radius: 6px;
  font-size: 0.7rem;
  text-align: center;
}
.img_con .category {
  top: 10px;
  left: 10px;
  background-color: antiquewhite;
  color: #a18a68;
}
.img_con img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}
.img_con a {
  position: absolute;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  opacity: 0;
  transition: 0.5s;
}

.list .title {
  padding-top: 1rem;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list .price {
  font-size: 0.9rem;
  color: #a18a68;
  padding-top: 0.5rem;
}
.list > a {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/* Footer 영역 */
.footer {
  border-top: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 0;
  margin-top: 5rem;
}
.linkto {
  display: flex;
}
.linkto > * {
  padding-right: 1.5rem;
  color: #707070;
}
.emali {
  border-bottom: 1px solid #707070;
  display: flex;
  color: #707070;
  padding-bottom: 0.7rem;
}
.emali p {
  padding-right: 5rem;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}
.footer_bottom i,
.footer_bottom strong {
  color: #000;
}
.footer_bottom i {
  padding-right: 0.3rem;
}
.footer_bottom span {
  color: #707070;
}
.icon > * {
  padding: 0 2rem;
  color: #707070;
}

/* Shop 영역 */
/* AllList 영역 */
.AllList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.AllList > p {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem 0 1rem;
}
.AllList .btns {
  width: calc(100% - 80%);
  display: flex;
  flex-direction: column;
}
.AllList .btns button {
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-bottom: 0.5rem;
  background-color: #a18a68;
  cursor: pointer;
}
.AllList > .list_wrap {
  width: calc(100% - 20% - 1rem);
}

/* Detail 영역 */
/* ProductInfo */
.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.detail_img {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  padding-top: 30%;
  width: calc(100% - 60%);
}
.detail_discount {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  background-color: #a18a68;
  color: #d8d8d8;
  padding: 0.3rem 1.2rem;
  border-radius: 6px;
  font-size: 0.8rem;
}
.detail_img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}
.detailCon {
  width: calc(100% - 40% - 2rem);
  align-self: center;
}
.detail_title {
  font-size: 1.2rem;
  font-weight: 500;
}
.detail_price {
  font-size: 1rem;
  color: #a18a68;
  padding: 1rem 0;
}
.detail_contents {
  font-size: 0.9rem;
  padding: 1.5rem 0;
}
.cb_wrap {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.countBtn {
  background-color: #70707020;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.count {
  padding: 0 1rem;
}
.plus,
.minus {
  cursor: pointer;
  padding: 0 0.3rem;
}
.addtocart {
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  padding: 0.5rem 7rem;
  margin-left: 1rem;
  background-color: transparent;
}
.detailIcon {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.like {
  position: relative;
  color: #707070;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  background-image: url(/public/img/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
.like::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #707070;
  right: -60%;
  top: 0;
}
.like > img {
  width: 100px;
  height: 100px;
}
.sns {
  margin-left: 1rem;
}
.sns > * {
  padding: 0.5rem;
  color: #707070;
  font-weight: 0.8rem;
}
.detailNum,
.detailCate {
  color: #707070;
  padding: 0.2rem 0;
  font-size: 0.7rem;
}

/* EctInfo 영역 */
.nav-link {
  color: #707070;
}

/* Similar 영역 */
.similar {
  margin-top: 3rem;
}
.similarP {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 0 1rem;
}
.similar > .newlist .list {
  width: 100%;
}
